/*
#about {
  h2 {
    font-weight: 700;
    color: #333;
  }

  p {
    font-size: 1.1rem;
    color: #555;
  }

  img {
    max-width: 200px;
    border: 4px solid #dee2e6;
  }





}

*/


.about-section {
  background-color: #ffffff;

  h2 {
    font-weight: 700;
    color: #282938;
  }

  p {
    font-size: 1.1rem;
    color: #6c757d;
  }

  img {
    max-width: 200px;
    border: 4px solid #dee2e6;
    border-radius: 8px;
  }


}