// Colors
$primary-color: #5E3BEE;
$secondary-color: #6c757d;
$dark-color: #282938;
$light-color: #f8f9fa;
$footer-bg: #F5FCFF;;
$footer-text: #000000;
$footer-border: #333333;
$footer-link: #ffffff;
$footer-link-hover: #cccccc;
$footer-text-color: #aaa;
$nav-link-color: #6c757d;
$nav-link-hover-color: #000000;
$nav-link-active-color: #5E3BEE; // Your desired active color

// Fonts
$font-family-primary: 'Roboto', sans-serif;
$font-size-heading: 2rem;
$font-size-body: 1rem;

// Spacing
$section-padding: 4rem 2rem;
